# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore dependencies

# Ignore local configuration files
config.py
settings.ini

# Ignore logs
logs/

# Ignore any other files or directories you don't want to commit
